
@{
    ViewBag.Title = "Hakkımızda";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../images/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Haydi gelin tanışalım!</h1>
                    <hr class="small">
                    <span class="subheading">
                         Gelin birlikte tatil plan yapalım.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Dünyanın dört bir yanındaki gezginler, Travelers sitesini kullanarak bir çok konaklama yeri, restoran, deneyim, hava yolu şirketi ve gemi seyahati hakkında milyonları aşkın yoruma ve görüşe göz atıyor. Gezginler, ister planlama aşamasında olsunlar ister seyahatte; otel, uçak bileti ve gemi seyahatinde düşük fiyatları karşılaştırmak, popüler gezilecek yer ve turlarda rezervasyon yaptırmak ve harika restoranlarda masa ayırtmak için Travelers'ı ziyaret ediyor.  </p>
            
        </div>
    </div>
</div>